<% if (post.tags && post.tags.length){ %>
    <span class="article-tags">
    <i class="iconfont icon-tag"></i>
    <%- list_tags(post.tags, {
        show_count: false,
        class: 'article-tag',
        style: 'none',
    }) %>
  </span>
<% } %>
