<main class="flex-1 px-4 py-14 md:px-5 lg:px-8 lg:py-4 relative min-h-screen">
    <%- partial('_partial/article-list', {index: true}) %>
    <%- partial('_partial/pagination', {type: 'page'}) %>
</main>
<%- partial('_common/aside', {}, {cache: true}) %>
