<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/yox@1.0.0-alpha.121/dist/standard/prod/yox.min.js"></script>-->
<style>
    .aside-fixture {
        display: none !important;
    }
    .main-section {
        max-width: unset;
    }
</style>
<main class="flex-1 px-4 py-12 md:px-5 lg:px-8 lg:py-4 relative min-h-screen">
    <article class="content article article-archives article-type-list" itemscope="">
        <header class="article-header">
            <h1 itemprop="title"><%= page.title %></h1>
            <p class="text-gray-600">I have <span id="repo-count">0</span> projects on GitHub </p>
        </header>
        <div id="repo-root" class="article-body">
        </div>
    </article>
    <%- partial('_partial/pagination', {type: 'page'}) %>
</main>
<script id="repo-template" type="text/html">
    <div>
    {{#if loading}}
    <p v-if="loading">Loading...</p>
    {{/if}}
    <div class="repos">
        {{#each repos_sorted}}
        <div v-for="repo in repos_sorted" key="{{this.id}}" class="repo">
            <header>
                <h3 class="repo-title">
                    <a href="{{ this.html_url }}">{{this.full_name}}</a>
                </h3>
            </header>
            <p class="repo-body">
                {{ this.description }}
            </p>
            <div class="repo-meta">
                <div class="repo-meta-inner">
                    <span class="repo-lang">{{ this.language }}</span>
                    <span class="repo-star"><i class="iconfont icon-star"></i> {{ this.stargazers_count }}</span>
                    <span class="repo-fork"><i class="iconfont icon-code-fork"></i> {{ this.forks_count }}</span>
                    <span class="meta meta-last-updated">
                        <i class="icon icon-clock"></i>
                        <time datetime="repo.updated_at">{{ this.updated_at.substring(0, this.updated_at.lastIndexOf("T")) }}</time>
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    </div>
</script>

