<%
const contentJson = (config.jsonContent && config.jsonContent.file) || '/content.json';
%>
<div id="content-json" data-placeholder="<%= __('widget.search')%>" class="invisible hidden"><%= contentJson %></div>
<script id="search-teamplate" type="text/html" data-path="<%= url_for(contentJson) %>">
    <div>
        <div class="search-header bg-gray-400">
            <input id="actual-search-input" model="keyword" ref="input" class="inline-block w-full h-10 px-2 py-1" placeholder="<%= __('widget.search')%>" type="text">
        </div>
        <div class="search-result bg-gray-200">
            {{#each searchPosts}}
            <a href="/{{ path }}" class="result-item block px-2 pb-3 mb-1 pt-1 hover:bg-indigo-100">
                <i class="iconfont icon-file"></i>
                <h1 class="result-title inline font-medium text-lg">{{ title }}</h1>
                <p class="result-content text-gray-600 text-sm">{{{ text }}}</p>
            </a>
            {{/each}}
        </div>
    </div>
</script>
