<aside style="" id="sidebar" class="aside aside-fixture">
    <div class="widgets">
        <% theme.widgets.forEach(function (widget) { %>
            <%- partial(`_widget/${widget}`, {title: true}, {cache: true}) %>
        <% }) %>
    </div>
</aside>
