<footer class="hidden lg:block fixed bottom-0 left-0 sm:w-1/12 lg:w-1/6 bg-gray-100 z-40">
    <% if(theme.profile.social.links) {
        const links = theme.profile.social.links
    %>
    <div class="footer-social-links">
        <% for (let i in links) { %>
            <a href="<%= url_for(links[i]) %>">
                <i class="iconfont icon-<%= i %>"></i>
            </a>
        <% } %>
    </div>
    <% } %>
    <% if(theme.footer && theme.footer.custom ) { %>
        <p class="footer-custom"><%- theme.footer.custom %></p>
        <p class="theme-brand">Theme by <a href="https://github.com/fengkx/hexo-theme-purer" rel="nofollow noopener noreferrer">hexo-theme-purer</a></p>
    <% } %>
</footer>
